# Visual Studio files and folder
.vs

bin-intDebug-x64Orbit

binDebug-x64Engine

binDebug-x64Orbit

bin-intDebug-x64Engine

.filters

.vcxproj

*.obj

bin-int/Debug-x64/Engine/

bin-int/Debug-x64/Orbit/

bin/Debug-x64/Engine/

bin/Debug-x64/Orbit/

*.vcxproj
