# Visual Studio files and folder
.vs

bin-intDebug-x64Orbit

binDebug-x64Engine

binDebug-x64Orbit

bin-intDebug-x64Engine

bin-intRelease-x64Orbit

binRelease-x64Engine

binRelease-x64Orbit

bin-intRelease-x64Engine

.filters

*.obj

bin-int/Debug-x64/Engine/

bin-int/Debug-x64/Orbit/

bin/Debug-x64/Engine/

bin/Debug-x64/Orbit/

bin-int/Release-x64/Engine/

bin-int/Release-x64/Orbit/

bin/Release-x64/Engine/

bin/Release-x64/Orbit/

*.filters
